<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My App Benll</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="navbar">
    <a href="/">Homeee</a>
    <a href="/new">New Posts </a>
  </div>

  <div class="container">
    <%- body %> <!-- chỗ này EJS sẽ chèn nội dung từ index.ejs, post.ejs, ... -->
  </div>
</body>
</html>
